<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FireBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FireBrowser.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Engine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EngineDefault" serializeAs="String">
                <value>https://www.google.com/?f=ssl</value>
            </setting>
            <setting name="check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AeroPeek" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopUp" serializeAs="String">
                <value>Modern</value>
            </setting>
            <setting name="ErrorPage" serializeAs="String">
                <value>ErrorPage\\index.html</value>
            </setting>
            <setting name="Autofill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dev" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Accept" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ispasswordProtected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="passwordBrowser" serializeAs="String">
                <value />
            </setting>
            <setting name="limited" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AdminPass" serializeAs="String">
                <value>FireBrowserAdmin@HomeTechFireX#1#</value>
            </setting>
            <setting name="ShellExeFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="falseUnlock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="safe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Placeholder" serializeAs="String">
                <value />
            </setting>
            <setting name="userProfile" serializeAs="String">
                <value>Default User</value>
            </setting>
            <setting name="SetupDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="incognito" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="icons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usrnm" serializeAs="String">
                <value />
            </setting>
        </FireBrowser.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fizzler" publicKeyToken="4ebff4844e382110" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>